.container-contact {
    text-align: center;
    padding-bottom: 3rem;
    background-color: #faf8f5;

    p {
        font-family: 'F1 Regular';
        line-height: 1.6;
    }

    .contact-sentence-information {
        padding: 3rem;
    }

    h3,
    h1 {
        font-family: 'Bruno Ace SC';
    }

    h1 {
        padding-top: 3rem;
        padding-bottom: 1rem;
        font-size: 1.6rem;
    }

    h3 {
        padding-top: 7rem;
        padding-bottom: 3rem;
    }

    .info-contact {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .mail {
        font-family: 'F1 Regular', cursif;
    }

}