.container-contact {
    text-align: center;
    padding-bottom: 3rem;
    background-color: #faf8f5;

    p {
        font-family: 'F1 Regular';
    }

    .sentence-information {
        padding: 1rem;
    }

    h3,
    h1 {
        font-family: 'Bruno Ace SC';
    }

    h1 {
        padding-top: 1.9rem;
    }

    h3 {
        padding-top: 7rem;
        padding-bottom: 3rem;
    }

    .info-contact {
        padding-top: 3rem;
    }

    .mail {
        font-family: 'Inconsolata', monospace;
    }

}