#img-saxo-jura {
    position: relative;
    bottom: -200px;
    /* pour cacher l'image au début */
    opacity: 0;
    transition: bottom 2s, opacity 2s;
    /* pour ajouter une animation */

    display: flex;
    align-items: center;
    text-align: center;

    .text-adventure-top {
        display: flex !important;
        flex-direction: column;

        p {
            padding: 2rem;
        }
    }
}

.container-adventure {
    h1 {
        padding-top: 3rem;
        padding-bottom: 2rem;
        text-align: center;
    }
}