footer {
    background-color: #91848442;
    padding: 10px;
    font-size: 14px;
    height: 70px;

    .footer-centre {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        /* Ajout de la hauteur à 100% */
        flex-direction: column;
        font-family: 'Bruno Ace SC', cursive;
        /* Empiler les éléments verticalement */

    }
}