.container-corse {
    background-color: #faf8f5;

    .titre-corse {
        padding-top: 8rem;
    }

    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        margin: 25px auto;
        background-color: #fff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        overflow: hidden;
        width: 50%;
        margin-bottom: 4rem;
        margin-top: 6rem;
    }

    th,
    td {
        padding: 10px;
        text-align: center;
        color: #444;
        border: 1px solid #ccc;
    }

    th {
        background-color: #00a8cc;
        color: #fff;
        text-transform: uppercase;
        font-family: "Bruno Ace SC", cursive;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #00a8cc;
        color: #fff;
        transition: 0.3s;
    }

    .row:nth-child(odd) {
        background-color: #e3dfdf;
    }

    .row:nth-child(even) {
        background-color: #faf8f5;
    }

    .row:hover {
        background-color: #00a8cc;
        color: #fff;
        transition: 0.3s;
    }

    .obj-corse {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 10rem;

        .corse-texte-first {
            margin-right: 10rem;

            //margin: 5rem 18rem;
            p {
                margin: 1rem 0;
                line-height: 1.3;
                font-family: "F1 Regular";
            }
        }
    }

    .budget {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .titre-budget-corse {
        padding-top: 8rem !important;
    }

    .image-container-corse {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        padding-top: 60px;
    }
    .photo-double {
        border: 2px solid black;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        margin: 2rem 3rem;
        max-width: 30%; /* Limite la largeur de chaque image à environ 48% de la largeur du conteneur pour permettre deux images côte à côte */
        margin-bottom: 10px;
    }

    .photo-double:hover {
        transform: scale(1.09);
    }

    .photo-unique {
        margin-bottom: 10px;
        border: 2px solid black;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        margin: 2rem 3rem;
    }

    .photo-unique:hover {
        transform: scale(1.09);
    }

    .text-jour-j {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 7rem;

        p {
            margin: 1rem 0;
            line-height: 1.3;
            font-family: "F1 Regular";
            width: 60%;
            text-align: center;
            word-spacing: 2px;
            font-size: 1.2rem;
        }
    }

    .logo-tour-historique-corse {
        display: flex;
        justify-content: center;
    }

    .container-assistance {
        .assistance-neutre {
            justify-content: center;
            display: flex;
            align-items: center;
            img {
                width: 140vh;
            }
        }
        img {
            width: 40vh;
        }
    }
    .photo-taille-réduite {
        width: 50vh;
    }
}
