.container-presse {
    background: #faf8f5;

    h3 {
        margin-bottom: 4rem;
    }

    img {
        background-color: white;
        border: 3px solid black;
        border-radius: 10px;
        box-shadow: 0 70px 63px -60px #000;
        transition: transform 0.4s ease-in-out;
        margin: 5rem;
    }

    img:hover {
        transform: scale(1.1);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .presse-photo1-2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .presse-photo3-4 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .presse-photo-5 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
    }
}